@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.75) scaleY(0.9);
            transform: rotateZ(180deg) scaleX(0.75) scaleY(0.9);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.75) scaleY(0.9);
            transform: rotateZ(180deg) scaleX(0.75) scaleY(0.9);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.9) scaleY(0.75);
            transform: rotateZ(-180deg) scaleX(0.9) scaleY(0.75);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.9) scaleY(0.75);
            transform: rotateZ(-180deg) scaleX(0.9) scaleY(0.75);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

body {
  margin: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.menuLogo {
  width: 70px;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .menuLogo {
    width: 30px;
    margin-left: 5px;
  }
}

.menuItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.menuItems > :nth-child(n) {
  margin-right: 3%;
}

.menuItems > li {
  list-style: none;
  text-shadow: 0 3px 10px black;
  font-family: "Bona Nova", serif;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.menuItems > li a {
  text-decoration: none;
  color: white;
}

.menuItems .menuDropdown li {
  list-style: none;
  text-shadow: 0 3px 10px black;
  font-family: "Bona Nova", serif;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.menuItems .menuDropdown li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 650px) {
  .menuItems {
    margin: 5px;
  }
  .menuItems li {
    list-style: none;
    text-shadow: 0 3px 10px black;
    font-family: "Bona Nova", serif;
    font-size: 12px;
    cursor: pointer;
    color: white;
  }
  .menuItems li a {
    text-decoration: none;
    color: white;
  }
  .menuItems .menuDropdown li {
    list-style: none;
    text-shadow: 0 3px 10px black;
    font-family: "Bona Nova", serif;
    font-size: 12px;
    cursor: pointer;
    color: white;
  }
  .menuItems .menuDropdown li a {
    text-decoration: none;
    color: white;
  }
}

.menuDropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}

.menuDropdown img {
  width: 20px;
}

.menuDropdown li {
  font-family: "Bona Nova", serif;
  list-style: none;
}

@media (max-width: 650px) {
  .menuDropdown {
    width: 100px;
  }
}

@media (max-width: 280px) {
  .menuDropdown {
    width: 70px;
  }
}

.trainingBlock {
  position: relative;
}

.trainingBlock .mainBackgroundImage {
  width: 100%;
  position: absolute;
  -webkit-filter: brightness(0.2) blur(5px);
          filter: brightness(0.2) blur(5px);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.596);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.596);
  z-index: -1;
}

.trainingBlock .mainImageBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trainingBlock .mainImageBlock .mainImage {
  width: 50%;
  -webkit-box-shadow: 0 3px 10px #000;
          box-shadow: 0 3px 10px #000;
  border-radius: 5px;
}

.trainingBlock .nameOfCartoon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4%;
  background-color: #fff;
}

.trainingBlock .nameOfCartoon h1 {
  font-family: "Bona Nova", serif;
  color: #39393a;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 650px) {
  .trainingBlock .nameOfCartoon h1 {
    font-size: 20px;
  }
}

.btn {
  color: #fff;
  font-family: "Bona Nova", serif;
  font-size: 30px;
  border: none;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.btn:hover {
  -webkit-box-shadow: inset 0px 33px 25px 0 #6fba82,  inset 0 66px 15px 0px #07b39b, inset 0 99px 5px 0px #1098ad;
          box-shadow: inset 0px 33px 25px 0 #6fba82,  inset 0 66px 15px 0px #07b39b, inset 0 99px 5px 0px #1098ad;
}

.btn:hover:after {
  content: "Download on Steam";
}

.btn:hover .btnText {
  display: none;
}

@media (max-width: 650px) {
  .btn {
    font-size: 15px;
    width: 200px !important;
    height: 40px;
  }
}

.aboutCartoonBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 500px) minmax(300px, 600px);
      grid-template-columns: minmax(100px, 500px) minmax(300px, 600px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 5%;
  background-image: url("ATGame/beachGame1.jpeg");
  background-position: bottom;
  background-size: cover;
  padding: 0 5%;
  -webkit-box-shadow: inset 0 -15px 20px -15px #f3b268, 0 0 10px 10px rgba(160, 220, 255, 0.76);
          box-shadow: inset 0 -15px 20px -15px #f3b268, 0 0 10px 10px rgba(160, 220, 255, 0.76);
      grid-template-areas: "name name" "abouttext image";
}

@media (max-width: 1150px) {
  .aboutCartoonBlock {
        grid-template-areas: "name" "abouttext" "image";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.aboutCartoonBlock h3 {
  font-family: "Bona Nova", serif;
  color: #39393a;
  font-size: clamp(20px, 3vw, 40px);
  font-weight: bolder;
  color: white;
  text-shadow: #003879 6px 0 10px;
  text-align: center;
  padding: 30px 0 10px 0;
  margin: 0 0 3% 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  -ms-grid-column-align: center;
      justify-self: center;
}

.aboutCartoonBlock .aboutCartoonText {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: abouttext;
}

.aboutCartoonBlock .aboutCartoonText p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(10px, 2vw, 20px);
  color: #fff;
  text-shadow: #003879 6px 0 10px;
  line-height: 2;
  text-align: justify;
}

.aboutCartoonBlock .largeImage {
  width: 580px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -webkit-box-shadow: 0 2px 5px #fff;
          box-shadow: 0 2px 5px #fff;
  margin: 5px;
  border-radius: 5px;
}

.aboutCartoonBlock .imageCarousel {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: image;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
}

@media (max-width: 1150px) {
  .aboutCartoonBlock {
        grid-template-areas: "name" "abouttext" "image";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .aboutCartoonBlock .imageCarousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .aboutCartoonBlock .largeImage {
    width: 360px;
  }
}

.carouselBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[9];
      grid-template-columns: repeat(9, 200px);
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  margin-top: 4%;
}

@media (max-width: 1150px) {
  .carouselBlock {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.carouselBlock .carouselImage {
  width: 150px;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  height: 100%;
}

.imageScrollButtonsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageScrollButtonsBlock img {
  cursor: pointer;
  width: 40px;
}

.selectedSmallImage {
  -webkit-box-shadow: 0 0 10px rgba(251, 240, 143, 0.767);
          box-shadow: 0 0 10px rgba(251, 240, 143, 0.767);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.championsBlock {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: minmax(100px, 400px) minmax(100px, 400px);
      grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
  -ms-grid-rows: (min-content)[2] minmax(100px, 500px);
      grid-template-rows: repeat(2, -webkit-min-content) minmax(100px, 500px);
      grid-template-rows: repeat(2, min-content) minmax(100px, 500px);
      grid-template-areas: "header header" "text text" "buttons chosenChamp";
  background: linear-gradient(220deg, rgba(243, 214, 85, 0.74), rgba(247, 149, 51, 0.746), rgba(245, 170, 191, 0.787), rgba(192, 123, 204, 0.7));
  -webkit-box-shadow: inset 0px -15px 20px -15px #70a0e9;
          box-shadow: inset 0px -15px 20px -15px #70a0e9;
  padding: 5px;
}

.championsBlock > h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  font-family: "Bona Nova", serif;
  color: #39393a;
  font-size: clamp(20px, 3vw, 40px);
  font-weight: bolder;
  color: white;
  text-shadow: #003879 6px 0 10px;
  text-align: center;
  padding: 30px 0 10px 0;
  margin: 0 0 3% 0;
}

.championsBlock > p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(10px, 2vw, 20px);
  color: #fff;
  text-shadow: #003879 6px 0 10px;
  line-height: 2;
}

.championsBlock .champions {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.championsBlock .champions > div {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.championsBlock .champions > div img {
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.championsBlock .champions > div p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(10px, 2vw, 20px);
  color: #fff;
  text-shadow: #003879 6px 0 10px;
  line-height: 2;
}

.championsBlock .choosenChampion {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: chosenChamp;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 450px;
}

.championsBlock .choosenChampion img {
  width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 960px) {
  .championsBlock {
        grid-template-areas: "header header" "text text" "buttons buttons" "chosenChamp chosenChamp";
    -ms-grid-rows: (min-content)[2] 180px 500px;
        grid-template-rows: repeat(2, -webkit-min-content) 180px 500px;
        grid-template-rows: repeat(2, min-content) 180px 500px;
  }
}

@media (max-width: 650px) {
  .championsBlock {
    -ms-grid-rows: (min-content)[2] 180px 350px;
        grid-template-rows: repeat(2, -webkit-min-content) 180px 350px;
        grid-template-rows: repeat(2, min-content) 180px 350px;
  }
  .championsBlock .champions {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .championsBlock .champions > div {
    margin: 0px;
  }
  .championsBlock .champions > div img {
    width: 50px !important;
  }
  .championsBlock .choosenChampion {
    height: 350px;
  }
  .championsBlock .choosenChampion img {
    width: 80px;
  }
}

.championsFrame {
  width: 400px;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.championsFrame:after, .championsFrame:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@media (max-width: 650px) {
  .championsFrame {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 400px) {
  .championsFrame {
    width: 200px;
    height: 200px;
  }
}

.championsFrame:after {
  -webkit-box-shadow: 0 1px 30px rgba(30, 136, 229, 0.6), inset 0 1px 30px rgba(30, 136, 229, 0.6), inset 1px 0 0 rgba(30, 106, 229, 0.6), inset 0 -1px 0 rgba(30, 76, 229, 0.6), inset -1px 0 0 rgba(30, 46, 229, 0.6);
          box-shadow: 0 1px 30px rgba(30, 136, 229, 0.6), inset 0 1px 30px rgba(30, 136, 229, 0.6), inset 1px 0 0 rgba(30, 106, 229, 0.6), inset 0 -1px 0 rgba(30, 76, 229, 0.6), inset -1px 0 0 rgba(30, 46, 229, 0.6);
  -webkit-animation: rotate1 2s -0.5s linear infinite;
          animation: rotate1 2s -0.5s linear infinite;
}

.championsFrame:before {
  -webkit-box-shadow: 0 1px 30px rgba(249, 213, 61, 0.6), inset 0 1px 30px rgba(249, 213, 61, 0.6), inset 1px 0 0 rgba(249, 183, 61, 0.6), inset 0 -1px 0 rgba(249, 153, 61, 0.6), inset -1px 0 0 rgba(249, 123, 61, 0.6);
          box-shadow: 0 1px 30px rgba(249, 213, 61, 0.6), inset 0 1px 30px rgba(249, 213, 61, 0.6), inset 1px 0 0 rgba(249, 183, 61, 0.6), inset 0 -1px 0 rgba(249, 153, 61, 0.6), inset -1px 0 0 rgba(249, 123, 61, 0.6);
  -webkit-animation: rotate2 2s -0.5s linear infinite;
          animation: rotate2 2s -0.5s linear infinite;
}

.selectedChampion {
  -webkit-box-shadow: 0 0 10px rgba(251, 240, 143, 0.767);
          box-shadow: 0 0 10px rgba(251, 240, 143, 0.767);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.skins {
  background-image: url("ATGame/bubbleBackground5.jpeg");
  background-attachment: fixed;
  -webkit-box-shadow: 0px 0px 20px 10px #06234e;
          box-shadow: 0px 0px 20px 10px #06234e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
}

.skins > h3 {
  font-family: "Bona Nova", serif;
  color: #39393a;
  font-size: clamp(20px, 3vw, 40px);
  font-weight: bolder;
  color: white;
  text-shadow: #003879 6px 0 10px;
  text-align: center;
  padding: 30px 0 10px 0;
  margin: 0 0 3% 0;
}

.skins > p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(10px, 2vw, 20px);
  color: #fff;
  text-shadow: #003879 6px 0 10px;
  line-height: 2;
  text-align: center;
}

.skins .bubleOfSkin img {
  height: 250px;
}

@media (max-width: 650px) {
  .skins {
    height: 500px;
  }
  .skins .bubleOfSkin img {
    height: 150px;
  }
}

@media (max-width: 650px) {
  .skins {
    height: 400px;
  }
}

.bubleOfSkin {
  width: 400px;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bubleOfSkin:after, .bubleOfSkin:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@media (max-width: 650px) {
  .bubleOfSkin {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 400px) {
  .bubleOfSkin {
    width: 200px;
    height: 200px;
  }
}

.bubleOfSkin:after {
  background: rgba(187, 244, 251, 0.25);
  -webkit-box-shadow: inset 0 1px 30px rgba(205, 241, 251, 0.774), inset 1px 0 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(149, 248, 251, 0.87), inset -1px 0 0 rgba(249, 61, 233, 0.6);
          box-shadow: inset 0 1px 30px rgba(205, 241, 251, 0.774), inset 1px 0 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(149, 248, 251, 0.87), inset -1px 0 0 rgba(249, 61, 233, 0.6);
  -webkit-animation: rotate1 2s -0.5s linear infinite;
          animation: rotate1 2s -0.5s linear infinite;
}

.alsoBlock {
  background-image: url("general/starsOnTheSky.jpg");
  background-size: cover;
  background-position: bottom;
  padding-bottom: 5%;
}

.alsoBlock > h3 {
  font-family: "Bona Nova", serif;
  color: #39393a;
  font-size: clamp(20px, 3vw, 40px);
  font-weight: bolder;
  color: white;
  text-shadow: #003879 6px 0 10px;
  text-align: center;
  padding: 30px 0 10px 0;
  margin: 0 0 3% 0;
}

.alsoBlock .alsoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.alsoBlock .alsoContainerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 1%;
}

.alsoBlock .alsoContainerItem img {
  width: 400px;
  height: 551px;
}

.alsoBlock .alsoContainerItem .itemText {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.733);
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.alsoBlock .alsoContainerItem .itemText h3 {
  font-family: "Bona Nova", serif;
  font-weight: bolder;
  font-size: clamp(15px, 4vw, 25px);
  text-align: center;
}

.alsoBlock .alsoContainerItem .itemText p {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-size: 20px;
  padding: 5%;
  font-size: clamp(10px, 3vw, 20px);
}

.alsoBlock .alsoContainerItem .itemText button {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(10px, 1vw, 20px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #383836;
  padding: 5px 20px;
  cursor: pointer;
}

.alsoBlock .alsoContainerItem .itemText:hover {
  opacity: 1;
}

.alsoBlock .alsoContainerItem button:hover {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

@media (max-width: 411px) {
  .alsoBlock .alsoContainerItem img {
    width: 200px;
    height: 251px;
  }
  .alsoBlock .itemText p {
    padding: 1% !important;
    margin: 0;
  }
  .alsoBlock .itemText h3 {
    margin: 5px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-top: 2px solid #fff;
  padding-top: 3%;
}

.footer p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-align: center;
}

.footer .footerItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 80%;
  justify-items: center;
  margin-top: 1%;
  grid-row-gap: 20px;
}

@media (max-width: 500px) {
  .footer .footerItem {
    grid-row-gap: 10px;
  }
}

.footer .footerItem a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #a0a0a0;
  font-size: clamp(10px, 1vw, 15px);
  text-align: center;
}

.footer .footerItem a:hover {
  color: white;
}

.footer .socialNetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .socialNetwork img {
  width: 40px;
  border-radius: 50%;
  margin: 40px 15px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter .5s ease;
  transition: -webkit-filter .5s ease;
  transition: filter .5s ease;
  transition: filter .5s ease, -webkit-filter .5s ease;
}

.footer .socialNetwork img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
/*# sourceMappingURL=atGame.css.map */