@import 'mixins';

@mixin largeTexts {
    font-family: $fontForText;
    font-size: clamp(10px, 2vw, 20px);
    color: #fff;
    text-shadow: rgb(0, 56, 121) 6px 0 10px;
    line-height: 2;

}

body {
    margin: 0;
}


// MENU
.menu {
    display: flex;
    align-items: center;
    z-index: 2;
}

.menuLogo {
    @include menuLogo;
}

.cartoons {
    z-index: 2;

    @include dropdown;

    & .valueOfCartoons {
        @include dropdown-content;
    }
}

.cartoons:hover .valueOfCartoons {
    display: grid;

    & li {
        @include menuFontStyle($fontForHeaders, 14px)
    }
}

.menuItems {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    & > :nth-child(n) {
        margin-right: 3%;
    }

    & li {
        @include menuFontStyle($fontForHeaders, 18px)
    }
}

.menuDropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    

    & img {
        width: 20px;
    }

    & li {
        font-family: $fontForHeaders;
        list-style: none;
    }
}

.trainingBlock {
    position: relative;

    & .mainBackgroundImage {
        @include mainBackgroundImage;
    }

    & .mainImageBlock {
        display: flex;
        justify-content: center;

        & .mainImage {
            @include mainImage;
        }
    }

    & .nameOfCartoon {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4%;
        background-color: #fff;

        & h1 {
            font-family: $fontForHeaders;
            color: $cartoonNameColor;
            text-align: center;
            font-size: 40px;
        }

    }
}

.btn {
    color: #fff;
    font-family: $fontForHeaders;
    font-size: 30px;
    line-height: 42px;
    border: none;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    background: $buttonColor;

    &:hover {
        box-shadow: inset 0px 33px 25px 0 #6fba82, 
        inset 0 66px 15px 0px #07b39b,
        inset 0 99px 5px 0px #1098ad;
    }
    
    &:hover:after {
        content: "Download on Steam";
    }
    
    &:hover .btnText {
        display: none;
    }
}



// ABOUT
.aboutCartoonBlock {

    display: grid;
    grid-template-columns: minmax(100px, 500px) minmax(300px, 600px);
    justify-content: center;
    grid-column-gap: 5%;
    background-image: url("ATGame/beachGame1.jpeg");
    background-position: bottom;
    background-size: cover;
    padding: 0 5%;
    box-shadow: inset 0 -15px 20px -15px rgb(243, 178, 104), 0 0 10px 10px rgba(160, 220, 255, 0.76);
    grid-template-areas: "name name"
                        "abouttext image";
    
    & h3 {
        @include headers;

        grid-area: name;
        justify-self: center;
    }

    & .aboutCartoonText {
        grid-area: abouttext;

        & p {
            @include largeTexts;
            text-align: justify;
        }
    }

    & .largeImage {
        width: 580px;
        grid-column: 1/ span 2;
        box-shadow: 0 2px 5px #fff;
        margin: 5px;
        border-radius: 5px;
    }

    & .imageCarousel {
        grid-area: image;
        align-self: center;
        overflow: hidden;
    }

    @media (max-width: 1150px) {
        grid-template-areas: "name"
        "abouttext"
        "image";

        grid-template-columns: 1fr;

        & .imageCarousel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    }
}

.carouselBlock {
    display: grid;
    grid-template-columns: repeat(9, 200px);
    grid-template-rows: 100px;
    transition: all .8s ease;
    margin-top: 4%;

    & .carouselImage {
        width: 150px;
        justify-self: center;
        cursor: pointer;
        border-radius: 5px;
        transition: all 1s ease;
    }

    @media (max-width: 1150px) {
        align-self: flex-start;
    }
}

.imageScrollButtonsBlock {
    display: flex;
    justify-content: center;

    & img {
        cursor: pointer;
        width: 40px;
    }
}

.selectedSmallImage {
    @include selected;
}

// CHAMPIONS
.championsBlock {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
    grid-template-rows: repeat(2, min-content) minmax(100px, 500px);
    grid-template-areas: "header header"
                        "text text"
                        "buttons chosenChamp";
    background: linear-gradient( 
        220deg, rgba(243, 214, 85, 0.74), rgba(247, 149, 51, 0.746), rgba(245, 170, 191, 0.787), 
        rgba(192, 123, 204, 0.7));
    box-shadow: inset 0px -15px 20px -15px rgb(112, 160, 233);
    padding: 5px;


    
    & > h3 {
        grid-area: header;
        @include headers;
    }

    & > p {
        grid-area: text;
        text-align: center;

        @include largeTexts;
    }

    & .champions {
        grid-area: buttons;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;

        & > div {
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 80px;
                border-radius: 50%;
                cursor: pointer;
                transition: all 1s ease;
            }

            & p {
                @include largeTexts;
            }
        }

    }

    & .choosenChampion {
        grid-area: chosenChamp;
        justify-self: center;
        align-self: center;
        height: 450px;


        & img {
            width: 150px;
            height: fit-content;
        }
    }


    @media (max-width: 960px) {
        grid-template-areas: "header header"
                            "text text"
                            "buttons buttons"
                            "chosenChamp chosenChamp";
        grid-template-rows: repeat(2, min-content) 180px 500px;
    }

    @media (max-width: 650px) {
        grid-template-rows: repeat(2, min-content) 180px 350px;

        & .champions {
            justify-content: space-between;

        & > div {
            margin: 0px;

            & img {
                width: 50px !important;
            }
            }
        }

        & .choosenChampion {
            height: 350px;

            & img {
                width: 80px;
            }
        }

    }
}

.championsFrame {
    @include frame;

    &:after {
        box-shadow: 0 1px 30px rgba(30, 136, 229, 0.6), inset 0 1px 30px rgba(30, 136, 229, 0.6), inset 1px 0 0 rgba(30, 106, 229, 0.6), inset 0 -1px 0 rgba(30, 76, 229, 0.6), inset -1px 0 0 rgba(30, 46, 229, 0.6);
        animation: rotate1 2s -0.5s linear infinite;
    }

    &:before {
        box-shadow: 0 1px 30px rgba(249, 213, 61, 0.6), inset 0 1px 30px rgba(249, 213, 61, 0.6), inset 1px 0 0 rgba(249, 183, 61, 0.6), inset 0 -1px 0 rgba(249, 153, 61, 0.6), inset -1px 0 0 rgba(249, 123, 61, 0.6);
        animation: rotate2 2s -0.5s linear infinite;
    }
}


.selectedChampion {
    @include selected;
}


.skins {
    background-image: url("ATGame/bubbleBackground5.jpeg");
    background-attachment: fixed;
    box-shadow: 0px 0px 20px 10px rgb(6, 35, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;

    & > h3 {
        @include headers;
    }

    & > p {
        @include largeTexts;
        text-align: center;
    }

    & .bubleOfSkin {
        & img {
            height: 250px;
        }
    }
}

.bubleOfSkin {
    @include frame;

    &:after {
        background: rgba(187, 244, 251, 0.25);
        box-shadow:  inset 0 1px 30px rgba(205, 241, 251, 0.774), inset 1px 0 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(149, 248, 251, 0.87), inset -1px 0 0 rgba(249, 61, 233, 0.6);
        animation: rotate1 2s -0.5s linear infinite;
    }
}

.alsoBlock {
    background-image: url("general/starsOnTheSky.jpg");
    background-size: cover;
    background-position: bottom;

    & > h3 {
        @include headers;
    }

    & .alsoContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    & .alsoContainerItem {
        display: flex;
        position: relative;
        margin: 1%;

        & img {
            width: 400px;
            height: 551px;
        }

        & .itemText {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.733);
            opacity: 0;
            transition: opacity 1s ease;

            & h3 {
                font-family: $fontForHeaders;
                font-weight: bolder;
                font-size: 25px;
            }

            & p {
                font-family: $fontForText;
                text-align: justify;
                font-size: 20px;
                padding: 5%;
            }

            & button {
                font-family: $fontForText;
                font-size: 15px;
                width: fit-content;
                border-radius: 10px;
                border: none;
                color: rgb(255, 255, 255);
                background-color: rgb(56, 56, 54);
                padding: 5px 20px;
                cursor: pointer;
            }
        }

        & .itemText:hover{
            opacity: 1;
        }

        & button:hover {
            background: $buttonColor;
        }
    }
}

// FOOTER
.footer {
    @include footerTemplate;

    & p {
        @include footerAttentionText;
    }

    & .footerItem {
        @include cartoonBlockInfooter;

        & a {
            @include cartoonTextInFooter;
        }
    }

    & .socialNetwork {
        @include footerNetwork;


        & img {
            @include footerNetworkImage;
        }
    }
}





